<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" >Restaurant App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav me-auto mb-2 mb-lg-0">
            <a class="nav-item nav-link" routerLink = "add">Add Restaurant</a>
            <a class="nav-item nav-link" routerLink = "list">List Restaurant</a>
        </div>
      </div>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>

